<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="ca.polymtl.tracecompass.internal.jul.analysis.core.latency.LttngJulTimeAnalysis"
            automatic="false"
            id="org.eclipse.tracecompass.examples.tracecompass.timing"
            name="LTTng JUL Timing analysis">
         <tracetype
               class="ca.polymtl.tracecompass.internal.jul.analysis.core.trace.LttngTraceCompassJulTrace">
         </tracetype>
      </module>
   </extension>
   <!-- extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            category="org.eclipse.linuxtools.tmf.ctf.core.category.ctf"
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="ca.polymtl.tracecompass.lttng.jul.trace"
            isDirectory="true"
            name="LTTng TraceCompass JUL Trace"
            trace_type="ca.polymtl.tracecompass.internal.jul.analysis.core.trace.LttngTraceCompassJulTrace">
      </type>
   </extension -->
   <extension
         point="org.eclipse.linuxtools.tmf.analysis.xml.core.files">
      <xmlfile
            file="xml_analyses/TimeGraphResponsiveness.xml">
      </xmlfile>
      <xmlfile
            file="xml_analyses/TraceCompassThreads.xml">
      </xmlfile>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            category="org.eclipse.linuxtools.tmf.ctf.core.category.ctf"
            event_type="org.eclipse.tracecompass.tmf.ctf.core.event.CtfTmfEvent"
            id="org.eclipse.tracecompass.extension.tracecompass.core.jultrace"
            isDirectory="false"
            name="%trace.lttng.ustjul"
            trace_type="ca.polymtl.tracecompass.internal.jul.analysis.core.trace.LttngTraceCompassJulTrace">
      </type>
   </extension>
   
</plugin>
