<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.eclipse.tracecompass.rcp.ui.menu.experimental"
               label="%menu.main.experimental">         
            <command
                  commandId="org.eclipse.equinox.p2.ui.discovery.commands.ShowRepositoryCatalog"
                  label="%command.manage_experimental"
                  style="push">
               <parameter
                     name="org.eclipse.equinox.p2.ui.discovery.commands.RepositoryParameter"
                     value="file:///home/gbastien/Dorsal/divers/extensionUpdateSite">
               </parameter>
               <parameter
                     name="org.eclipse.equinox.p2.ui.discovery.commands.AllowUninstallParameter"
                     value="true">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
